:root {
    --colorFondo: #F4F4F4;
    --colorFondoAzul: #70C7E0;
    --colorFondoTaronja: #e49a0e;
    --colorTexto: #303030;
    --colorBorde: #000000;
    --estiloTexto: 'IBM Plex Sans', sans-serif;
    --medidaTexto-h2: 20px;
    --medidaTexto-h3: 18px;
    --medidaTexto-p: 16px;
    --cursorPuntero: url(../img/punteroNegro.png), auto;
    --cursorHover: url(../img/hoverNegro.png), auto;
    --imgCruz: url(../img/cruz.png);
    --cora1: url(../img/cora1.svg);
    --cora2: url(../img/cora2.svg);
    --cora4: url(../img/cora4.svg);
    --cora5: url(../img/cora5.svg);
    --column-gap: 2rem;
    --colorFelicitats: #C80062;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    background-color: var(--colorFondo);
    overflow-x: hidden;
    cursor: var(--cursorPuntero);
}

h2 {
    font-family: var(--estiloTexto);
    font-size: var(--medidaTexto-h2);
    color: var(--colorTexto);
}

h3 {
    font-family: var(--estiloTexto);
    font-size: var(--medidaTexto-h3);
    color: var(--colorTexto);
    line-height: 1.5;
    font-weight: 400;
}

p {
    font-family: var(--estiloTexto);
    font-size: var(--medidaTexto-p);
    line-height: 1.8;
    margin: 1.3em 0 1.3em 0;
    color: var(--colorTexto);
}

p a {
    color: var(--colorTexto);
}

#portada {
    position: relative;
    width: 100vw;
    height: 90dvh;
    background: var(--colorFondoAzul);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-bottom: 3rem;
}

.btn {
    font-family: var(--estiloTexto);
    font-size: var(--medidaTexto-h2);
    position: absolute;
    bottom: 15vh;
    z-index: 1;
    border: none;
    color: white;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 50px;
    background-color: var(--colorFondoTaronja);
    font-weight: 600;
}


#portada .portada-sup {
    width: 100vw;
    display: flex;
    flex-direction: column;

}

.portada-sup .titol {
    margin: 1rem 1rem 0;
}


#nenInici {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
}

#nen {
    margin: 0 auto;
    max-width: 75vw;
}

#nenInici svg {
    position: absolute;
    left: 0;
    bottom: -130px;
}

#cB {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1%;
    left: 28%;
}

#cB2 {
    width: 2rem;
    height: 3rem;
    position: absolute;
    top: 38vh;
    left: 18vw;
}

#cB3 {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 30%;
    right: 10%;
}

#portada h1 {
    font-family: var(--estiloTexto);
    font-size: 3rem;
    line-height: 1.3;
    color: var(--colorTexto);
    margin-bottom: 0;
}

#portada h2 {
    margin-top: 0;
    margin-bottom: 0;
}

#portada p {
    margin-top: 1em;
    margin-bottom: 0;
}

.portada_logos {
    z-index: 5;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: -104px;
}

.portada_logos .logos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 19%;
}

#diputacio {
    width: 10%;
    flex-grow: 4;
}

#faro {
    width: 10%;
    flex-grow: 1;
}

#LF {
    width: 10%;
    flex-grow: 1;
}

.logos {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
    column-gap: 2rem;
}

/* .barraSuperior {
     width: 100%;
     height: 2rem;
     padding: 2rem 1.3rem;
     display: flex;
     align-items: center;
     column-gap: 2vw;
     justify-content: space-between;
     position: fixed;
     top: 0;
     z-index: 6;
     background-image: url('../img/fonss.svg');
     background-size: 100% 100%;
     background-repeat: no-repeat;
}*/

.barraSuperior {
    position: relative;
    width: 100%;
    height: 4rem;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 6;
}

.barraSuperior nav {
    padding: 1rem;
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}


#capitols {
    width: 100vw;
    display: flex;
    flex-direction: column;
    z-index: 2;
    /* filter: blur(5px);
    */
}

#imgCapitols {
    height: 50%;
    width: 100%;
    margin-top: 52px;
    margin-bottom: 52px;
}


#carga {
    width: 10rem;
    height: 10rem;
}

.pantCarga {
    width: 100%;
    height: 100%;
    background-color: #E7AC3D;
    position: fixed;
    z-index: 10;
    top: -100vh;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.botonsCapitols {
    width: 90%;
    display: flex;
    justify-content: center;
    column-gap: var(--column-gap);
    padding-bottom: 1rem;
    font-family: var(--estiloTexto);
    padding-right: 0rem;
    padding-left: 0rem;
    margin: 0 auto;
}

.botonsCapitols h3 {
    font-weight: 600;
}

#logoCora {
    width: 1.8rem;
    height: 2rem;
    cursor: var(--cursorHover);
}

.ajustesMenu svg {
    height: 2rem;
    width: 4rem;
    cursor: pointer;
}

.ajustesMenu {
    width: 7rem;
    display: flex;
    column-gap: 2rem;
    justify-content: flex-end;
    padding-right: 1vw;
    align-items: center;
}

.ajustesMenu svg {
    height: 2rem;
}

.botoCapL {
    width: 14rem;
    height: 3rem;
    background-color: #70C7E0;
    display: flex;
    align-items: center;
    padding: 1rem;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 25px 5px 5px 25px;
    cursor: var(--cursorHover);
}

.botoCapR {
    width: 14rem;
    height: 3rem;
    background-color: #70C7E0;
    display: flex;
    align-items: center;
    padding: 1rem;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px 25px 25px 5px;
    cursor: var(--cursorHover);
}

#flexa {
    font-size: 30px;
}

#capitol2 {
    width: 100%;
}

#capitol1 {
    width: 100%;
    display: block;
}

#capitol3 {
    width: 100%;
}

#capitol4 {
    width: 100%;
}

#capitol5 {
    width: 100%;
}

#capitol6 {
    width: 100%;
}

#capitol7 {
    width: 100%;
}

#capitol8 {
    width: 100%;
}

#capitol9 {
    width: 100%;
}

.botoCapRoculto {
    width: 11rem;
    height: 3rem;
    background-color: #70C7E0;
    display: flex;
    align-items: center;
    padding: 1rem;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0;
}

#capitol10 {
    width: 100%;
}

#capitol11 {
    width: 100%;
}

#capitol12 {
    width: 100%;
}

#capitol13 {
    width: 100%;
}

#capitol14 {
    width: 100%;
}

#capitol15 {
    width: 100%;
}

.capitols {
    display: none;
}

#cruz {
    width: 1rem;
    height: 1rem;
    position: absolute;
    right: 1rem;
    background-image: var(--imgCruz);
    background-size: contain;
    cursor: var(--cursorHover);
}

#menu {
    cursor: var(--cursorHover);
}

.poema {
    text-align: center;
    margin: 2.5rem 0;
}

.c1scroll {
    width: 100%;
    padding-top: 7rem;
}

.column-row {
    width: 100%;
    display: flex;
    column-gap: 4rem;
    flex-direction: column;
    justify-content: space-between;
}

.parrafos {
    width: 100%;
    padding: 0 3%;
}

.parrafos h2 {
    margin-top: 0;
}

h2 {
    color: var(--colorTexto);
}

.opcMenu {
    cursor: var(--cursorHover);
}

.menuCapitulos {
    width: 20rem;
    height: 100dvh;
    background-color: var(--colorFondoTaronja);
    z-index: 7;
    padding: 1rem;
    top: 0;
    right: -25rem;
    position: fixed;
    transition: 1s right;
    overflow-y: auto;
}

.ajustes {
    width: 20rem;
    height: 100dvh;
    background-color: var(--colorFondoTaronja);
    z-index: 7;
    padding: 1rem;
    top: 0;
    right: -24rem;
    position: fixed;
    transition: 1s right;
    overflow-y: auto;
}

.ajustes h2,
.menuCapitulos h2 {
    margin: 0;
}


#cruz2 {
    width: 1rem;
    height: 1rem;
    background-image: var(--imgCruz);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 1rem;
    cursor: var(--cursorHover);
}

.titulo {
    text-align: left;
    margin-top: 3rem;
    margin-bottom: 0.6rem;
    font-size: var(--medidaTexto-h2);
}

#carga {
    width: 10rem;
    height: 10rem;
}

.pantCarga {
    width: 100%;
    height: 100%;
    background-color: #E7AC3D;
    position: absolute;
    z-index: 10;
    top: -100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ajust_d {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ajust_d p {
    font-size: calc(var(--medidaTexto-p)*.8);
    margin: 0;
}

#letra1 {
    height: 5vh;
    margin: 0vh;
    font-size: calc(var(--medidaTexto-p)*2);
    align-items: center;
    font-family: 'IBM Plex Sans', sans-serif;
    display: flex;
    margin-bottom: -3px;
}

#letra2 {
    height: 5vh;
    margin: 0vh;
    font-size: calc(var(--medidaTexto-p)*2);
    align-items: center;
    font-family: 'Merriweather', serif;
    display: flex;
    margin-bottom: -3px;
}

#mida1 {
    width: 5rem;
    line-height: 2;
    margin: 0vh;
    font-size: calc(var(--medidaTexto-p)*1.5);
    align-items: center;
    justify-content: center;
    font-family: var(--estiloTexto);
    display: flex;
}

#mida2 {
    width: 5rem;
    line-height: 1.2;
    margin: 0vh;
    font-size: calc(var(--medidaTexto-p)*3);
    justify-content: center;
    align-items: center;
    font-family: var(--estiloTexto);
    display: flex;
    margin-bottom: -3px;
}

.maquetacionFinal {
    display: flex;
    column-gap: 10rem;
    padding-top: 7rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgClaroOscuro {
    width: 3rem;
    cursor: var(--cursorHover);
}

.blanco {
    margin: 0.4em 0;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100px;
    border: 2px solid #000000;
    background-color: white;
}

.negre {
    margin: 0.4em 0;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100px;
    background-color: black;
    border: 2px solid #FFFFFF;
}

.bloqueApartadosAjustes {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    align-items: center;
}

.noimg {
    width: 67%;
}

.c1 {
    width: 100%;
    padding-top: 8rem;
    /*     padding-left: 2.5%;
     padding-right: 2.5%;*/
}

#ajustes {
    cursor: var(--cursorHover);
}

#palabrasDestacadas {
    width: 100%;
    height: 100vh;
    transform: scale(0.5);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 3;
}

.recuadroDestacada {
    width: 22rem;
    height: 12rem;
    background-color: #EB9FC3;
    border: 3px solid #C80062;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#cruzDestacada {
    width: 1rem;
    cursor: var(--cursorHover);
}

.cruz {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
    padding-top: 1rem;
}

#Final {
    width: 100%;
}

#textDestacat {
    padding-left: 2rem;
    padding-right: 2rem;
    color: black;
}

#corazon {
    position: absolute;
    transform: translate(-310%, -60%);
    margin: 0;
    width: 3rem;
}

#corazo2 {
    position: absolute;
    transform: translate(-310%, -60%);
    margin: 0;
    width: 2rem;
}

#corazo3 {
    position: absolute;
    transform: translate(310%, 240%);
    margin: 0;
    width: 3rem;
}

#corazo4 {
    position: absolute;
    transform: translate(310%, 390%);
    margin: 0;
    width: 2rem;
}

.claseBlancoDestacada {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 10rem;
    align-items: center;
    align-content: center;
}

#titolDestacat {
    color: #C80062;
}

#imgCapitolsFinal {
    height: 50%;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}

#Felicitats {
    font-size: 2rem;
    color: var(--colorFelicitats);
}

.cora1 {
    width: 5rem;
    height: 5rem;
    background-image: var(--cora1);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 83vh;
    left: 5vw;
}

.cora2 {
    width: 3rem;
    height: 3rem;
    background-image: var(--cora2);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 80vh;
    left: 76vw;
}

.cora3 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: var(--cora2);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 31vh;
    left: 6vw;
}

.cora4 {
    width: 3rem;
    height: 3rem;
    background-image: var(--cora4);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 43vh;
    left: 24vw;
}

.cora5 {
    width: 4rem;
    height: 4rem;
    background-image: var(--cora5);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 43vh;
    right: 2vw;
}

@media (min-width: 700px) {
    .column-row {
        display: flex;
        column-gap: 2rem;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: center;
        max-width: 1020px;
        margin: 0 auto;
    }


    #imgCapitols {
        width: 38%;
    }

    #imgCapitolsFinal {
        width: 30rem;
    }

    #Felicitats {
        font-size: 3rem;
    }
}


@media (min-width: 1395px) {

    .botonsCapitols {
        padding-top: 3rem;
        padding-bottom: 3rem;
        column-gap: 4rem;
        margin: unset;
    }

    .btn {
        bottom: 28vh;
        left: 14rem;
    }

    #cB {
        top: -18%;
        left: 54%;
    }

    #cB2 {
        left: 46%;
    }

    #cB3 {
        top: 30%;
        right: 10%;
    }

    .portada_logos {
        width: 50%;
        bottom: -54px;
    }

    #nen {
        margin: 0 auto;
        max-width: 50vw;
        position: relative;
        right: -17rem;
        top: -7rem;
    }


    #portada h1 {
        font-size: 8rem;
    }

    #portada h2 {
        font-size: 5rem;
        position: relative;
        top: -17px;
    }

    .portada-sup .titol {
        margin: 17rem 5rem 0;
        position: relative;
        top: 30vh;
    }

    #imgCapitols {
        height: 50%;
        margin-top: 0px;
        margin-bottom: 140px;
    }

    .parrafos p:first-child {
        margin-top: 0;
    }


    .ajustesMenu {
        padding-right: 2rem;

    }

    #logoCora {
        padding-left: 2rem;
        width: 4.5rem;
    }

    .ajustesMenu svg {
        width: 4.5rem;
    }

    .opcMenu:hover {
        text-decoration: underline;
    }

    #destacadahover:hover {
        text-decoration: underline;
    }

    .botoCapR:hover {
        outline: 3px solid #3CA3B7;
    }

    .botoCapL:hover {
        outline: 3px solid #3CA3B7;
    }

    #destacadahover {
        cursor: var(--cursorHover);
    }

    .cfinal {
        height: 100vh;
        width: 100%;
        padding-top: 8rem;
        padding-left: 5%;
        padding-right: 5%;
        display: flex;
        align-content: stretch;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: center;
    }

    .botoCapRoculto {
        width: 11rem;
        height: 3rem;
        background-color: #70C7E0;
        display: flex;
        align-items: center;
        padding: 1rem;
        flex-direction: row;
        justify-content: space-between;
        opacity: 0;
    }

    #imgCapitolsFinal {
        height: 50%;
        width: 27rem;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #Felicitats {
        font-size: 4rem;
        color: var(--colorFelicitats);
    }

    .cora1 {
        width: 5rem;
        height: 5rem;
        background-image: var(--cora1);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 74vh;
        left: 5vw;
    }

    .cora2 {
        width: 3rem;
        height: 3rem;
        background-image: var(--cora2);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 71vh;
        left: 49vw;
    }

    .cora3 {
        width: 3.5rem;
        height: 3.5rem;
        background-image: var(--cora2);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 18vh;
        left: 6vw;
    }

    .cora4 {
        width: 3rem;
        height: 3rem;
        background-image: var(--cora4);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 13vh;
        left: 59vw;
    }

    .cora5 {
        width: 4rem;
        height: 4rem;
        background-image: var(--cora5);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 43vh;
        right: 6vw;
    }

    .maquetacionFinal {
        display: flex;
        column-gap: 10rem;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}


@media only screen and (orientation: landscape) {

    #portada {
        height: auto;
    }

    .c1 {
        padding-top: 4rem;
    }
}